:host {
  display: block;
  min-height: 100dvh;
}

#smooth-wrapper {
  min-height: 100dvh;
}

#smooth-content {
  display: flex;
  min-height: 100dvh;
  width: 100%;
  flex-direction: column;
  overflow: visible;
}
